<div class="productContent">
 <div class="center-block">

 <span *ngFor="let link of navLinks">
   <a  *ngIf="currPage.id-1 === link.id && link.id != 0"  
   [routerLink]="link.targetPage" (click)="gotToPrevPage()">
     <i class="glyphicon glyphicon-chevron-left"></i> 
   </a>
  </span>

  <a  *ngIf="currPage.id-1 === 0"  disabled="true" >
     <i class="glyphicon glyphicon-chevron-left"></i> 
  </a>
 

  <div class="pagination">
   <ul class="pager">
     <li *ngFor="let navLink of navLinks"  >
     <a *ngIf="navLink.name != 'END' && navLink.name != 'START' " 
     [ngClass]="{active: navLink.id === currPage.id}">{{navLink.id}}</a></li>
   </ul>
 </div>

 
  <span *ngFor="let link of navLinks">
   <a  *ngIf="currPage.id+1 === link.id &&  link.id != (navLinks.length-1)"  
   [routerLink]="link.targetPage" (click)="gotTonextPage()">
     <i class="glyphicon glyphicon-chevron-right"></i> 
   </a>
  </span>
 
 <a  *ngIf="currPage.id+1 === (navLinks.length-1)"  disabled="true" >
     <i class="glyphicon glyphicon-chevron-right"></i> 
  </a>


 </div>
 </div>